:root {
  --font-size-s: 12px;
  --font-size-m: 18px;
  --font-size-l: 27px;
  --font-size-xl: 40.5px;
}

.cheat_sheets {

  /* TEXT */
  & .black-ops-one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  & .atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  & .atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  & .atkinson-hyperlegible-regular-italic {
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  & .columns {
    columns: 2;
  }

  & h1,
  & h2 {
    font-family: "Black Ops One";
    font-weight: 400;
    text-align: center;
  }

  & h1 {
    font-size: var(--font-size-l);
    line-height: var(--font-size-l);
    margin: 0;
    text-transform: uppercase;
  }

  & h2 {
    margin: 0;
    font-size: var(--font-size-m);
    line-height: var(--font-size-m);
  }

  & ul+h2,
  & ol+h2,
  & p+h2 {
    margin-top: 2mm;
  }

  & p {
    font-family: "Atkinson Hyperlegible Next";
    margin-top: 0;
    margin-bottom: 2mm;
    line-height: var(--font-size-s);
    font-size: var(--font-size-s);
  }

  /* TABLE */

  & table {
    margin-left: auto;
    margin-right: auto;
  }

  & tr {
    padding: 0;
  }

  & th {
    vertical-align: top;
    text-align: left;
    padding: 0;
  }

  & td {
    vertical-align: top;
    padding: 0;
  }

  /* LISTS */

  & ol,
  & ul {
    padding-left: 5mm;
    margin: 0;
  }

  & dl {
    display: grid;
    grid-template-columns: min-content auto;
  }

  & dt::before {
    content: "";
    display: block;
  }

  & dt {
    font-weight: bold;
    display: inline-block;
    margin: 0 0 0 2mm;
  }

  & dd {
    margin: 0 0 0 2mm;
  }

  li {
    font-family: "Atkinson Hyperlegible Next";
    font-size: var(--font-size-s);
    margin: 0;
    line-height: var(--font-size-s);
  }

  /* PASSING CHART */

  & .passing-chart {
    border-collapse: collapse;
    border: 0;
  }

  & .passing-chart td {
    font-family: "Black Ops One", system-ui;
    width: calc(100vw / 15);
    height: calc(100vw / 15);
    text-align: center;
    vertical-align: middle;
    outline-style: dashed;
    outline-width: 0.1mm;
  }

  & .passing-chart {
    & td {
      background: lch(95% 50% 120deg);
      outline-color: black;
    }

    & td.n {
      color: black;
    }

    & td.t {
      background: lch(60% 0% 30);
    }

    & td.q {
      background: lch(90% 50% 120deg);
    }

    & td.s {
      background: lch(80% 50% 90deg);
    }

    & td.l {
      background: lch(70% 50% 60deg);
    }

    & td.b {
      background: lch(60% 50% 30deg);
    }
  }

  & .dice_icon {
    width: 10mm;
    height: 10mm;
  }



  @media print {
    @page {
      size: A6;
      margin: 8mm;
    }

    .page-break {
      break-after: page;
    }
  }

  @media screen {
    margin: auto;
    padding: 8mm;
    width: 148mm;
  }
}