/* roboto-condensed-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-condensed-v31-latin_latin-ext-regular.woff2') format('woff2');
}

/* roboto-condensed-700 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-condensed-v31-latin_latin-ext-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/oswald-v57-latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/oswald-v57-latin_latin-ext-700.woff2') format('woff2');
}

:root,
* {
  margin: 0;
  padding: 0;
}

.page {
  width: 180mm;
  display: grid;
  grid-template-columns: 30mm 30mm 30mm 30mm 30mm 30mm;

  & h2 {
    grid-column: span 6;
  }

  & .miniature {
    & .side {
      &:first-child {
        transform: rotate(.5turn);
        transform-origin: center;
      }

      & .text {
        padding: 1mm;
        width: 30mm;
        height: 40mm;
        overflow: hidden;
        border-width: .25mm 0;
        border-style: solid;
        border-color: #000;
        transform-origin: top left;
        font-family: 'Roboto Condensed';
        text-align: center;
        line-height: 5mm;

        & .name {
          font-weight: 700;
          font-size: 5mm;
          font-family: "Oswald";
          font-optical-sizing: auto;
          font-style: normal;
        }

        & .number {
          font-weight: 600;
          font-size: 5mm;
          font-family: "Oswald";
          font-optical-sizing: auto;
          font-style: normal;
        }

        & .attribute {
          font-size: 3.4mm;
          line-height: 4mm;
          font-weight: 700;
        }

        & .attribute_number {
          font-size: 3.4mm;
          line-height: 4mm;
        }

        & .skills {
          font-size: 3.4mm;
        }
      }

      & .foot {
        border-width: .5mm;
        border-style: solid;
        border-color: #000;
        width: 30mm;
        height: 10mm;
      }
    }
  }

  & .big {
    & .side {
      height: 60mm;

      & .text {
        height: 50mm;
      }
    }
  }
}

@media screen {
  .page {
    margin: 15mm;
  }
}

@media print {
  .page {
    size: A4;
    page-break-after: always;
    /* margin: 15mm; */
  }

  .miniature {
    page-break-inside: avoid;
  }
}