.print-color {
  & .lnw .side,
  & .lnm .side {
    background-color: rgb(185, 185, 185);
  }

  & .big .side {
    background-color: rgb(166, 123, 91);
  }

  & .bkr .side {
    background-color: rgb(96, 204, 96);
  }

  & .blz .side {
    background-color: rgb(255, 78, 78);
  }

  & .ctr .side {
    background-color: rgb(255, 255, 147);
  }

  & .rnr .side {
    background-color: rgb(118, 206, 206);
  }

  & .spc .side {
    background-color: rgb(255, 197, 89);
  }

  & .thw .side {
    background-color: white;
  }

  & .stp .side {
    background-color: rgb(138, 138, 255);
  }

  & .scw .side {
    background-color: rgb(255, 97, 255);
  }
}

.page {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30mm);

  & h2 {
    grid-column: 1 / -1;
  }
  & .miniature {
    & .side {
      &:first-child {
        transform: rotate(.5turn);
        transform-origin: center;
      }

      & .text {
        padding: 1mm;
        width: 30mm;
        height: 40mm;
        overflow: hidden;
        border-width: .25mm 0;
        border-style: solid;
        border-color: #000;
        transform-origin: top left;
        font-family: 'Roboto Condensed';
        text-align: center;
        line-height: 5mm;

        & .name {
          font-weight: 700;
          font-size: 5mm;
          font-family: "Oswald";
          font-optical-sizing: auto;
          font-style: normal;
        }

        & .number {
          font-weight: 600;
          font-size: 5mm;
          font-family: "Oswald";
          font-optical-sizing: auto;
          font-style: normal;
        }

        & .attribute {
          font-size: 3.4mm;
          line-height: 4mm;
          font-weight: 700;
        }

        & .attribute_number {
          font-size: 3.4mm;
          line-height: 4mm;
        }

        & .skills {
          font-size: 3.4mm;
        }
      }

      & .foot {
        border-width: .5mm;
        border-style: solid;
        border-color: #000;
        width: 30mm;
        height: 10mm;
      }
    }
  }

  & .big {
    & .side {
      height: 60mm;

      & .text {
        height: 50mm;
      }
    }
  }
}



@media print {
  .page {
    size: A4;
    page-break-after: always;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .miniature {
    page-break-inside: avoid;
  }

  .screen {
    display: none;
  }
}