.print-color {

  /* Blitzer Red */
  & .blz .side .text {
    /* background-color: #D55D5D; */
    background-image: url("../paper_miniatures/blitzer.svg");
    background-repeat: no-repeat;
  }

  /* Special Orange */
  & .spc .side .text {
    background-image: url("../paper_miniatures/special.svg");
    background-repeat: no-repeat;
  }

  /* Catcher Yellow */
  & .ctr .side .text {
    background-image: url("../paper_miniatures/catcher.svg");
    background-repeat: no-repeat;
  }

  /* Blocker Green */
  & .bkr .side .text {
    background-image: url("../paper_miniatures/blocker.svg");
    background-repeat: no-repeat;
  }

  /* Runner Cyan */
  & .rnr .side .text {
    background-image: url("../paper_miniatures/runner.svg");
    background-repeat: no-repeat;
  }

  /* Star Player Blue */
  & .stp .side .text {
    background-image: url("../paper_miniatures/star_player.svg");
    background-repeat: no-repeat;
  }

  /* Lineman Grey */
  & .lnw .side .text,
  & .lnm .side .text {
    background-image: url("../paper_miniatures/lineman.svg");
    background-repeat: no-repeat;
  }

  /* Thrower White */
  & .thw .side .text {
    background-image: url("../paper_miniatures/thrower.svg");
    background-repeat: no-repeat;
  }

  /* Big Guy Brown */
  & .big .side .text {
    background-image: url("../paper_miniatures/big_guy.svg");
    background-repeat: no-repeat;
  }
}

.page {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30mm);

  & h2 {
    grid-column: 1 / -1;
  }

  & .miniature {
    & .side {
      &:first-child {
        transform: rotate(.5turn);
        transform-origin: center;
      }

      & .text {
        padding: 1mm;
        width: 30mm;
        height: 40mm;
        overflow: hidden;
        border-width: .25mm 0;
        border-style: solid;
        border-color: #000;
        transform-origin: top left;
        font-family: 'Roboto Condensed';
        text-align: center;
        line-height: 4.4mm;

        & .name {
          font-weight: 700;
          font-size: 4.8mm;
          font-family: "Oswald";
          font-optical-sizing: auto;
          font-style: normal;
        }

        & .number {
          font-weight: 600;
          font-size: 4.8mm;
          font-family: "Oswald";
          font-optical-sizing: auto;
          font-style: normal;
        }

        & .attribute {
          font-size: 3.4mm;
          line-height: 3.5mm;
          font-weight: 700;
        }

        & .attribute_number {
          font-size: 3.4mm;
          line-height: 3.5mm;
        }

        & .skills, .tags {
          font-size: 3.4mm;
        }
      }

      & .foot {
        border-width: .5mm;
        border-style: solid;
        border-color: #000;
        width: 30mm;
        height: 15mm;
      }
    }
  }

  & .big {
    & .side {
      height: 65mm;

      & .text {
        height: 50mm;
      }
    }
  }
}



@media print {
  .page {
    size: A4;
    page-break-after: always;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .miniature {
    page-break-inside: avoid;
  }

  .screen {
    display: none;
  }
}