/* roboto-condensed-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-condensed-v31-latin_latin-ext-regular.woff2') format('woff2');
}

/* roboto-condensed-700 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-condensed-v31-latin_latin-ext-700.woff2') format('woff2');
}


.page {
  width: 200mm;
  display: grid;
  grid-template-columns: 1fr 1fr;

  & h2 {
    grid-column: span 2;
  }

  & .miniature {
    height: 30mm;

    & .side {
      width: 30mm;
      height: 50mm;

      &:first-child {
        transform: rotate(90deg) translateY(-100%);
        transform-origin: top left;
      }

      &:last-child {
        transform: rotate(-90deg) translateY(100%) translateX(calc(50mm - 30mm));
        transform-origin: top left;
      }

      & .text {
        padding: 1mm;
        width: 30mm;
        height: 40mm;
        overflow: hidden;
        border-width: .25mm 0;
        border-style: solid;
        border-color: #000;
        transform-origin: top left;
        font-family: 'Roboto Condensed';
        text-align: center;
        line-height: 5mm;

        & .name {
          font-weight: 700;
          font-size: 5mm;
        }

        & .number {
          font-weight: 700;
          font-size: 5mm;
        }

        & .attribute {
          font-size: 3.4mm;
          line-height: 4mm;
          font-weight: 700;
        }

        & .attribute_number {
          font-size: 3.4mm;
          line-height: 4mm;
        }

        & .skills {
          font-size: 3.4mm;
        }
      }

      & .foot {
        border-width: .5mm;
        border-style: solid;
        border-color: #000;
        width: 30mm;
        height: 10mm;
      }
    }
  }

  & .big {
    grid-column: span 2;

    & .side {
      height: 55mm !important;

      &:last-child {
        transform: rotate(-90deg) translateY(100%) translateX(calc(55mm - 30mm));
        transform-origin: top left;
      }

      & .text {
        height: 50mm !important;
      }
    }
  }
}

/* avoid page breaks inside miniatures */
@media print {
  .page {
    page-break-after: always;
  }

  .miniature {
    page-break-inside: avoid;
  }
}