input,
button,
textarea,
select {
  font: inherit;
}

:root {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 20mm;
}

h2 {
  font-size: 10mm;
  margin: 10mm 0 4mm;
}

p {
  font-size: 5.5mm;
}