@import url("reset.css");

@import url("fonts/oswald.css");
@import url("fonts/roboto-condensed.css");

@import url("text.css");
@import url("base.css");

@import url("paper_miniatures.css");
@import url("abbreviations.css");