---
layout: base.njk
---

<main class="print-color">
<div class="screen">
<h1>Paper Miniatures</h1>
<label>
  <input type="checkbox" id="printColorToggle" checked> Print with color
</label>

<script>
  const toggle = document.getElementById('printColorToggle');
  const base = document.getElementsByClassName('print-color')[0];
  toggle.addEventListener('change', e => {
    if(e.target.checked){
      base.classList.add('print-color');
    } else {
      base.classList.remove('print-color');
    }
  });
</script>
</div>

{% for roster in rosters %}
<div class="page">
  <h2 class="screen">{{ roster.name }}</h2>
  {% for player in roster.players %}
  <div class="miniature{% for tag in player.tags_abbr %} {{ tag.toLowerCase() }}{% endfor %}{% for skill in player.skills_abbr %}{% if skill %} {{ skill.toLowerCase() }}{% endif %}{% endfor %}">
    {% set miniatures = [player, player] %} {# front and back #}
    {% for m in miniatures %}
    <div class="side ">
      <div class="text">
        <span class="name">{{ player.name }}</span><br>
        <span class="number">{{ player.number }}</span><br>
        <span class="ma attribute">MA</span><span class="attribute_number"> {{ player.MA }}</span>
        <span class="st attribute">ST</span><span class="attribute_number"> {{ player.ST }}</span>
        <span class="ag attribute">AG</span><span class="attribute_number"> {{ player.AG }}+</span><br>
        <span class="pa attribute">PA</span><span class="attribute_number"> {{ player.PA }}+</span>
        <span class="av attribute">AV</span><span class="attribute_number"> {{ player.AV }}+</span><br>
        <span class="tags">{% for tag in player.tags_abbr %}<span class="tag">{{ tag }}</span>{% if not loop.last %}, {% endif %}{% endfor %}</span><br>
        <span class="skills">
        {% for skill in player.skills_abbr %}
        <span class="skill">{{ skill }}</span>{% if not loop.last %}, {% endif %}
        {% endfor %}
        </span>
      </div>
      <div class="foot"></div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endfor %}
</main>
