<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <base href="{{ baseUrl }}">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>