---
layout: base.njk
---
<main>
<h1>BBData</h1>
<p>Data for a popular Bloody Fantasy Football Bowl game.</p>
<ul>
<li><a href="abbreviations/">Abbreviations</a></li>
<li><a href="paper_miniatures/">Paper Miniatures</a></li>
<li><a href="paper_miniatures/paper_miniatures.pdf">Paper Miniatures (PDF)</a></li>
<li><a href="paper_miniatures/paper_miniatures_(no_color).pdf">Paper Miniatures (PDF, no Colors)</a></li>
<li><a href="color_conventions/">Color Conventions</a></li>
<li><a href="the_ten_commandments_of_nuffle/">The Ten Commandments of NUFFLE</a></li>
<li><a href="choose_a_team/">Beginner Guide to Choosing the Right Blood Bowl Team</a></li>
<li><a href="https://github.com/DeviousTanuki/BBData">github.com/DeviousTanuki/BBData</a></li>
</ul>

<h2>Useful Links</h2>
<ul>
<li><a href="https://www.warhammer-community.com/en-gb/downloads/blood-bowl/">Official Blood Bowl downloads</a></li>
<li><a href="https://bloodbowlbase.ru/bb2025/">bloodbowlbase.ru — Blood Bowl rules</a></li>
<li><a href="https://bbroster.com">bbroster.com — Team roster generator tool</a></li>
<li><a href="https://www.thenaf.net/naf-recommendations-and-clarifications-for-bb2025/">NAF Recommendations and Clarifications for BB2025</a></li>
<li><a href="https://www.enefel2.com/bloodboard/">Digital strategy board for Blood Bowl</a></li>
<li><a href="https://placeit.net/logo-maker/sports">placeit.net — Sports logo maker</a></li>
<li><a href="https://drive.google.com/drive/folders/1L2cs0yjgHzRo-fABpKT0DF7YKUSaBO7U">Team Logos from the Blood Bowl computer game</a></li>
</ul>

<h3>Thired party miniatures</h3>
<ul>
<li><a href="https://ugni.games/fantasy-football">Ugni</a></li>
<li><a href="https://www.myminifactory.com/users/UGNI">Ugni on MyMiniFactory</a></li>
<li><a href="https://pungaminiatures.com/fantasy-football">Punga Miniatures</a></li>
<li><a href="https://www.myminifactory.com/users/PungaMiniatures">Punga Miniatures on MyMiniFactory</a></li>
<li><a href="https://greebo-games.com/">Greebo Games</a></li>
</ul>

</main>