---
layout: base.njk
---

<main>
<h1>BBData</h1>
<p>Data for a popular Bloody Fantasy Football Bowl game.</p>
<ul>
<li><a href="abbreviations/">Abbreviations</a></li>
<li><a href="paper_miniatures/">Paper Miniatures</a></li>
<li><a href="color_conventions/">Color Conventions</a></li>
<li><a href="https://github.com/DeviousTanuki/BBData">github.com/DeviousTanuki/BBData</a></li>
</ul>
</main>