---
layout: base.njk
---
<main class="color_conventions">
<h1>Devious Tanukis’s Beginner Guide to Choosing the Right Blood Bowl Team</h1>

<p>Here are nine ways to find the team that suits you:</p>

<ol>
<li>Play the team you feel like playing.</li>
<li><a href="https://drive.google.com/file/d/1aLvjCQeEHvRWBze9M3HvJTtNT7lLE84W/view">Use the team selection flowchart.</a> Note: A few teams are still missing, including Snotlings, Gnomes, and Bretonnians.</li>
<li><a href="https://www.warhammer.com/en-GB/shop/other-games/blood-bowl">Look at how the teams look and choose the one you find most appealing.</a></li>
<li><a href="https://docs.google.com/spreadsheets/d/1Ph1VDCcZKEA1zqSikFeE-7KXmWX_KL6sscpQ2EhiAB0/edit?usp=sharing">Choose based on playstyle (Bashy / Agile / Hybrid / Stunty).</a></li>
<li><a href="https://docs.google.com/spreadsheets/d/1Ph1VDCcZKEA1zqSikFeE-7KXmWX_KL6sscpQ2EhiAB0/edit?usp=sharing">Choose based on beginner-friendliness. [See the same table]</a></li>
<li><a href="https://member.thenaf.net/index.php?module=NAF&type=statistics">Check the win rates of the individual teams.</a> Make sure to select the variant “Blood Bowl 2025”. Choosing by win rate may be boring, but it’s fine—I can’t stop you from googling it anyway. And I shouldn’t judge too loudly.</li>
<li>Play a test game with paper minis.</li>
<li><a href="https://www.youtube.com/@BoneheadPodcast/videos">Watch YouTube videos about the teams you’re considering. (The Bonehead Podcast has plenty to offer)</a></li>
<li>Pick the team you wanted from the start.</li>
</ol>

</main>